<!--<ul>
    <li><button class="btn btn-default" (click)="expand()">{{root_tree.name}}</button></li>
    <ng-container *ngIf="isExpand">
        <div *ngFor="let sub of root_tree.subTrees">
            <tree-view [root_tree]="sub"></tree-view>
        </div>
        <ul>
            <li *ngFor="let node of root_tree.nodes">{{node.name}}</li>
            <ng-container *ngIf="!addNewNodeFlag">
                <li><button class="btn btn-default" (click)="AddNode()">添加原材料</button></li>
            </ng-container>
            <ng-container *ngIf="addNewNodeFlag">
                <li>
                    <input class="form-control user-input" [(ngModel)]="newNode.name">
                    <button class="btn btn-default" (click)="AddNodeCompelet()">完成</button></li>
            </ng-container>
            <li><button class="btn btn-default" (click)="AddSubTree()">添加分类</button></li>
        </ul>
    </ng-container>
</ul>-->
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title={{root_node.name}}>
        <template ngbPanelContent>
            <ngb-panel *ngFor="let sub of root_node.subNodes" title={{sub.name}}>
                <tree-view [root_node]="sub" [tree_type]="tree_type"></tree-view>
            </ngb-panel>
            <ng-container *ngIf="root_node.leafs?.length > 0">
                <table class="table table-hover">
                    <thead>
                        <!--<tr>
                            <th>编号</th>
                            <th>名称</th>
                            <th>库存数量</th>
                            <ng-container *ngIf="isMaterialTree">
                                <th>采购中(未到库)</th>
                            </ng-container>
                        </tr>-->
                    </thead>
                    <tbody>
                        <tr *ngFor="let materialStock of root_node.leafs">
                            <th>{{materialStock.internalId}}</th>
                            <td>{{materialStock.name}}</td>
                            <td>库存数量: {{materialStock.instockNum}}/{{materialStock.unit}}</td>
                            <ng-container *ngIf="isMaterialTree">
                                <td>采购中: {{materialStock.shoppingNum}}/{{materialStock.unit}}</td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
        </template>
    </ngb-panel>
</ngb-accordion>