<div class="row">
    <nav class="navbar navbar-light navbar-toggleable-md col-sm-9">
        <!--<h3>{{title}}</h3>-->

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#menu">
        <span class="navbar-toggler-icon"></span>
    </button>

        <h4 class="navbar-brand">{{titleName}}</h4>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" (click)="addNewNode()">{{buttonAddName}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="updateNode(0)">{{buttonInName}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="updateNode(1)">{{buttonOutName}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="onFresh()">刷新</a>
                </li>
            </ul>
        </div>

    </nav>

    <div class="col-sm-3" style="padding: 8px 16px 8px 16px">
        <button routerLink='/dashboard' class="btn btn-primary">返回</button>
    </div>
</div>

<tree-view [root_node]="root_node" [tree_type]="tree_type"></tree-view>
<!-- FOOTER -->
<footer>
    <div class="container-fluid">
        <div class="row title-l1">

            <div class="col-sm-4">
                <button class="btn btn-primary btn-outline-primary" (click)="onFetchCheckIn()">{{checkInName}}</button>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-primary btn-outline-primary" (click)="onFetchCheckOut()">{{checkOutName}}</button>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-primary btn-outline-primary" (click)="onFetchMaterialStock()">{{stockName}}</button>
            </div>

        </div>
    </div>
</footer>