<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
    <div class="row title-l5">
        <h5>{{information}}</h5>
    </div>
    <ng-container *ngIf="!show_type">
        <select class="form-control" [ngModel]="materialOrderList" (ngModelChange)="onChangeOrder($event)">
        <option [ngValue]="i" *ngFor="let i of materialOrderList">{{i.name}}</option>
    </select>
    </ng-container>
    <ng-container *ngIf="show_type">
        <select class="form-control" [ngModel]="orderList" (ngModelChange)="onChangeOrder($event)">
        <option [ngValue]="i" *ngFor="let i of orderList">{{i.name}}</option>
    </select>
        <ng-container *ngIf="productList?.length > 0">
            <div class="row title-l5">
                <h5>请选择具体产品</h5>
            </div>
            <select class="form-control" [ngModel]="productList" (ngModelChange)="onChangeSubProductOrder($event)">
        <option [ngValue]="i" *ngFor="let i of productList">{{i.name}}</option>
    </select>
        </ng-container>
        <ng-container *ngIf="productList">
            <ng-container *ngIf="!(productList?.length > 0)">
                <p>没有产品清单</p>
            </ng-container>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="root_node?.subNodes?.length>0 || root_node?.leafs?.length>0 || choose_product">
        <ng-container *ngIf="root_node?.id">
            <dropdown-tree-view [root_node]="root_node" (choose_leaf)="onChooseLeaf($event)"></dropdown-tree-view>
        </ng-container>
        <ng-container *ngIf="choose_leaf?.id || choose_product">
            <div class="row title-l2">
                <h5>数量</h5>
                <div class="col-md-2">
                    <input type="number" class="form-control user-input" [(ngModel)]="materialUpdateInfo.num">
                </div>

                <ng-container *ngIf="type ==0 && node_type==0">
                    <h5>批次</h5>
                    <div class="col-md-2">
                        <input class="form-control user-input" [(ngModel)]="materialUpdateInfo.additionalInfo">
                    </div>
                </ng-container>
                <ng-container *ngIf="type ==1 && node_type==0 && choose_leaf.patchInfos.length>0">
                    <h5>批次</h5>
                    <div class="col-md-6">
                        <select class="form-control" [ngModel]="choose_leaf.patchInfos" (ngModelChange)="onChangePatchInfo($event)">
                    <option [ngValue]="info" *ngFor="let info of choose_leaf.patchInfos">{{info}}</option>
                </select>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="root_node">
        <ng-container *ngIf="!(root_node?.subNodes?.length>0 || root_node?.leafs?.length>0)">
            <p>没有原材料需求</p>
        </ng-container>
    </ng-container>
    <div class="modal-footer">
        <ng-container *ngIf="materialUpdateInfo.num">
            <button type="button" class="btn btn-secondary" (click)="onSubmit()">确定</button>
        </ng-container>
    </div>