<div *ngIf="orderDetail">
  <div class="row title-l1">
    <!--<h3>{{title}}</h3>-->
    <div class="col-sm-3">
      <h3>订单信息</h3>
    </div>

    <div class="col-sm-3">
      <a routerLink='/orders' class="btn btn-primary" role="button">返回</a>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>编号</th>
        <th>名称</th>
        <th>日期</th>
        <th>描述</th>
        <th>金额</th>
        <th>销售</th>
        <th>备注</th>
        <th>状态</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>{{orderDetail.id}}</th>
        <td>{{orderDetail.name}}</td>
        <td>{{orderDetail.date}}</td>
        <td>{{orderDetail.desc}}</td>
        <td>{{orderDetail.price}}</td>
        <td>{{orderDetail.sales}}</td>
        <td>{{orderDetail.comment}}</td>
        <td>{{orderDetail.status}}</td>
      </tr>
    </tbody>
  </table>

  <div class="row title-l2">
    <div class="col-sm-3">
      <h4>产品清单</h4>
    </div>

    <div class="col-sm-6" *ngIf="productListEditable">
      <button class="btn btn-primary" (click)="editProducts()">完成</button>
      <button class="btn btn-primary" (click)="cancelEdit()">撤销</button>
    </div>
    <div class="col-sm-3" *ngIf="!productListEditable">
      <button class="btn btn-primary" (click)="editProducts()">编辑</button>
    </div>
  </div>

  <ng-container *ngIf="productListEditable">
    <products-editable [productList]="productList"></products-editable>
  </ng-container>
  <ng-container *ngIf="!productListEditable">
    <products [productList]="productList"></products>
  </ng-container>

</div>
