  <table class="table">
    <thead>
      <tr>
        <th>序号</th>
        <th>名称</th>
        <th>数量</th>
        <th>单位</th>
        <th>单价</th>
        <th>小计</th>
        <th>备注</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productList">
        <th>{{product.id}}</th>
        <td>{{product.name}}</td>
        <td><input [(ngModel)]="product.count"></td>
        <td>{{product.unit}}</td>
        <td>{{product.price}}</td>
        <td>{{product.total}}</td>
        <td>{{product.comment}}</td>
      </tr>
    </tbody>
  </table>