<!--<ul class="nav nav-tabs" role="tablist">
  <li class="nav-items">
    <a href="#product0" class="nav-link" role="tab" data-toggle="tab">总计需求</a>
  </li>
  <li class="nav-items" *ngFor="let product of productList; let i = index">
    <a href="#product{{product.id}}" class="nav-link" role="tab" data-toggle="tab">{{product.name}}</a>
  </li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="product0">
    <table class="table">
      <tr>
        <th>名称/单位</th>
        <th>总计需求</th>
        <th>在库数量</th>
        <th>未入库(采购中)</th>
      </tr>
      <tr *ngFor="let material of materialItemList">
        <td>{{material.name}}</td>
        <td>{{material.requrimentNum}}</td>
        <td>{{material.instockNum}}</td>
        <td>{{material.shoppingNum}}</td>
      </tr>
    </table>
  </div>
  <div role="tabpanel" class="tab-pane" *ngFor="let product of productList; let i = index" id=product{{product.id}}>
    <div class="col-sm-4" *ngIf="materialItemtEditable">
      <button class="btn btn-primary" (click)="onSubmitEdit(i)">完成</button>
      <button class="btn btn-primary" (click)="onCancelEdit(i)">撤销</button>
    </div>
    <div class="col-sm-2" *ngIf="!materialItemtEditable">
      <button class="btn btn-primary" (click)="onEdit(i)">编辑</button>
    </div>
    <table class="table">
      <tr>
        <th>名称/单位</th>
        <th>数量</th>
      </tr>
      <ng-container *ngIf="!materialItemtEditable">
        <tr *ngFor="let material of toList(product.materialList)">
          <td>{{material.text}}</td>
          <td>{{material.value}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="materialItemtEditable">
        <tr *ngFor="let material of toList(product.materialList)">
          <td>{{material.text}}</td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>-->

<ngb-tabset>
  <ngb-tab title="总计需求">
    <template ngbTabContent>
      <table class="table">
        <tr>
          <th>名称/单位</th>
          <th>总计需求</th>
          <th>在库数量</th>
          <th>未入库(采购中)</th>
        </tr>
        <tr *ngFor="let material of materialItemList">
          <td>{{material.name}}</td>
          <td>{{material.requrimentNum}}</td>
          <td>{{material.instockNum}}</td>
          <td>{{material.shoppingNum}}</td>
        </tr>
      </table>
    </template>
  </ngb-tab>

  <ngb-tab *ngFor="let product of productList; let i = index" title={{product.name}}>
    <template ngbTabContent>
      <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-4" *ngIf="materialItemtEditable">
          <button class="btn btn-primary" (click)="onSubmitEdit(i)">完成</button>
          <button class="btn btn-primary" (click)="onCancelEdit(i)">撤销</button>
        </div>
        <div class="col-sm-2" *ngIf="!materialItemtEditable">
          <button class="btn btn-primary" (click)="onEdit(i)">编辑</button>
        </div>
      </div>

      <table class="table">
        <tr>
          <th>名称/单位</th>
          <th>数量</th>
        </tr>
        <ng-container *ngIf="!materialItemtEditable">
          <tr *ngFor="let material of toList(product.materialList)">
            <td>{{material.text}}</td>
            <td>{{material.value}}</td>
          </tr>
        </ng-container>
        <ng-container *ngIf="materialItemtEditable">
          <tr *ngFor="let material of toList(product.materialList)">
            <td>{{material.text}}</td>
          </tr>
        </ng-container>
      </table>
    </template>
  </ngb-tab>
</ngb-tabset>
