<!--<ul>
    <li><button class="btn btn-default" (click)="expand()">{{root_tree.name}}</button></li>
    <ng-container *ngIf="isExpand">
        <div *ngFor="let sub of root_tree.subTrees">
            <tree-view [root_tree]="sub"></tree-view>
        </div>
        <ul>
            <li *ngFor="let node of root_tree.nodes">{{node.name}}</li>
            <ng-container *ngIf="!addNewNodeFlag">
                <li><button class="btn btn-default" (click)="AddNode()">添加原材料</button></li>
            </ng-container>
            <ng-container *ngIf="addNewNodeFlag">
                <li>
                    <input class="form-control user-input" [(ngModel)]="newNode.name">
                    <button class="btn btn-default" (click)="AddNodeCompelet()">完成</button></li>
            </ng-container>
            <li><button class="btn btn-default" (click)="AddSubTree()">添加分类</button></li>
        </ul>
    </ng-container>
</ul>-->
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel  title={{root_node.name}}>
        <template ngbPanelContent>
            <ngb-panel *ngFor="let sub of root_node.subNodes" title={{sub.name}}>
                <tree-view [root_node]="sub"></tree-view>
            </ngb-panel>
            <h5 *ngFor="let node of root_node.leafs">{{node.name}}</h5>
        </template>
        </ngb-panel>
</ngb-accordion>