<!--<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel *ngFor="let materialOrder of materialOrderList">

    <template ngbPanelTitle>
      <div class="row">
        <div class="col-sm-3">
          <h4>原料采购订单</h4>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-primary">编辑</button>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-6">
          编号：{{materialOrder.id}}
        </div>
        <div class="col-sm-6">
          创建日期：{{materialOrder.date}}
        </div>
      </div>

      <h4>{{materialOrder.name}}</h4>
    </template>

    <template ngbPanelContent>
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th scope="col">序号</th>
            <th scope="col">名称</th>
            <th scope="col">数量</th>
            <th scope="col">单位</th>
            <th scope="col">单价</th>
            <th scope="col">小计</th>
            <th scope="col">备注</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let material of materialOrder.materialSubOrderInfoList; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{material.name}}</td>
            <td>{{material.num}}</td>
            <td>{{material.unit}}</td>
            <td>{{material.unit_price}}</td>
            <td>{{material.total_price}}</td>
            <td>{{material.comment}}</td>
          </tr>
        </tbody>
      </table>
    </template>

  </ngb-panel>
</ngb-accordion>-->

<div class="card-group">
  <div class="card col-xs-12" *ngFor="let materialOrder of materialOrderList">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-6">
          编号：{{materialOrder.id}}
        </div>
        <div class="col-sm-6">
          创建日期：{{materialOrder.date}}
        </div>
        <ng-container *ngIf="!materialOrder.modifyMode">
          <button class="btn btn-primary" (click)="onModify(materialOrder)" style="position: absolute; top:10px; right: 10px">修改</button>
          <button class="btn btn-danger" style="position: absolute; top:50px; right: 10px">删除</button>
        </ng-container>
        <ng-container *ngIf="materialOrder.modifyMode">
          <button class="btn btn-primary" (click)="onSubmit(materialOrder)" style="position: absolute; top:10px; right: 10px">完成</button>
           <button class="btn btn-primary" (click)="onAbort(materialOrder)" style="position: absolute; top:50px; right: 10px">撤销</button>
        </ng-container>
      </div>
      <div class="row">
        <div class="col-sm-6">
          总价：{{materialOrder.price}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          备注：{{materialOrder.comment}}
        </div>
      </div>
    </div>

    <div class="card-block">
      <!--<table class="table">
        <thead class="thead-inverse">
          <tr>
            <th scope="col">序号</th>
            <th scope="col">名称</th>
            <th scope="col">数量</th>
            <th scope="col">单位</th>
            <th scope="col">单价</th>
            <th scope="col">小计</th>
            <th scope="col">备注</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let material of materialOrder.materialSubOrderInfoList; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{material.name}}</td>
            <td>{{material.num}}</td>
            <td>{{material.unit}}</td>
            <td>{{material.unit_price}}</td>
            <td>{{material.total_price}}</td>
            <td>{{material.comment}}</td>
          </tr>
        </tbody>
      </table>-->
      <ng-container *ngIf="materialOrder.modifyMode">
        <material-sub-order-editable [materialSubOrderList]="materialOrder.materialSubOrderInfoList"></material-sub-order-editable>
      </ng-container>
      <ng-container *ngIf="!materialOrder.modifyMode">
        <material-sub-order [materialSubOrderList]="materialOrder.materialSubOrderInfoList"></material-sub-order>
      </ng-container>
    </div>
  </div>
</div>
