<div class="row title-l1">
    <!--<h3>{{title}}</h3>-->
    <div class="col-sm-3">
        <h3>订单信息</h3>
    </div>

    <div class="col-sm-3">
        <a routerLink='/dashboard' class="btn btn-primary" role="button">返回</a>
    </div>
</div>


<table class="table table-hover">
    <thead>
        <tr>
            <th>编号</th>
            <th>名称</th>
            <th>日期</th>
            <th>描述</th>
            <th>金额</th>
            <th>销售</th>
            <th>备注</th>
            <th>状态</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orderList" (click)="onSelect(order)">
            <th>{{order.id}}</th>
            <td>{{order.name}}</td>
            <td>{{order.date}}</td>
            <td>{{order.desc}}</td>
            <td>{{order.price}}</td>
            <td>{{order.sales}}</td>
            <td>{{order.comment}}</td>
            <td>{{order.status}}</td>
        </tr>
    </tbody>
</table>