<div class="row">
  <div class="col-sm-3"></div>

  <div class="col-sm-6">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <label for="name">用户名</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel" (focus)="onFocus($event)">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          用户名不能为空
        </div>
      </div>

      <div class="form-group">
        <label for="password">密码</label>
        <input type="text" class="form-control" id="password" required [(ngModel)]="model.password" name="password" #password="ngModel" (focus)="onFocus($event)">
        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
          密码不能为空
        </div>
      </div>

      <!--<div class="form-group">-->
      <button class="btn btn-success" [disabled]="!loginForm.form.valid">登录</button>
      <!--</div>-->
    </form>

    <ng-container *ngIf="error">
      <div class="alert alert-warning" role="alert">
        <strong>登录失败！</strong>用户名或密码错误
      </div>
    </ng-container>
  </div>

  <div class="col-sm-3"></div>
</div>
