<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th></th>
      <th scope="col">序号</th>
      <th scope="col">名称</th>
      <th scope="col">数量</th>
      <th scope="col">单位</th>
      <th scope="col">单价</th>
      <th scope="col">小计</th>
      <th scope="col">备注</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let material of materialSubOrderList; let i = index">
      <th ><button type="button" class="btn btn-danger btn-sm" (click)="onDeleteMaterial(material)"><i class="fa fa-minus"></i></button></th>
      <th scope="row">{{i+1}}</th>
      <td>{{material_level1_name[i]}}</td>
      <td>{{material.name}}</td>
      <td>{{material.num}}</td>
      <td>{{material.unit}}</td>
      <td>{{material.unit_price}}</td>
      <td>{{material.total_price}}</td>
      <td>{{material.comment}}</td>
    </tr>
    <tr>
      <th></th>
      <th scope="row">{{materialSubOrderList.length + 1}}</th>
      
      <td><select class="custom-select" [ngModel]="material_level1" (ngModelChange)="onChangeLevel1($event)">
        <ng-container *ngIf="material_level1">
          <option [ngValue]="l1" *ngFor="let l1 of material_level1">{{l1.name}}</option>
        </ng-container>
        </select></td>
      
      
      <td><select class="custom-select" [ngModel]="material_level2" (ngModelChange)="onChangeLevel2($event)">
        <ng-container *ngIf="material_level2">
          <option selected [ngValue]="l2" *ngFor="let l2 of material_level2">{{l2.name}}</option>
        </ng-container>
        </select></td>
      

      <td><input class="form-control" [(ngModel)]="newMaterial.num"></td>
      <td><input class="form-control" [(ngModel)]="newMaterial.unit"></td>
      <td><input class="form-control" [(ngModel)]="newMaterial.unit_price"></td>
      <td><input class="form-control" [(ngModel)]="newMaterial.total_price"></td>
      <td><input class="form-control" [(ngModel)]="newMaterial.comment"></td>
      <td><button type="button" class="btn btn-success btn-sm" (click)="onAddMaterial()"><i class="fa fa-plus"></i></button></td>
    </tr>
  </tbody>
</table>
