<div class="modal-header">
  <h4 class="modal-title">创建新的采购订单</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
  <div class="card col-xs-12">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-6">
          编号：{{materialOrder.id}}
        </div>
        <div class="col-sm-6">
          创建日期：{{materialOrder.date}}
        </div>
        <ng-container *ngIf="!materialOrder.modifyMode">
          <button class="btn btn-primary" (click)="onModify()" style="position: absolute; top:10px; right: 10px">修改</button>
          <!--<button class="btn btn-danger" style="position: absolute; top:50px; right: 10px">删除</button>-->
        </ng-container>
        <ng-container *ngIf="materialOrder.modifyMode">
          <button class="btn btn-primary" (click)="onSubmit()" style="position: absolute; top:10px; right: 10px">完成</button>
          <button class="btn btn-primary" (click)="onAbort()" style="position: absolute; top:50px; right: 10px">撤销</button>
        </ng-container>
      </div>
      <div class="row">
        <div class="col-sm-6">
          总价：{{materialOrder.price}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          备注：{{materialOrder.comment}}
        </div>
      </div>
    </div>

    <div class="card-block">
      <ng-container *ngIf="materialOrder.modifyMode">
        <material-sub-order-editable [materialOrderId]="materialOrder.id" [materialSubOrderList]="materialOrder.materialSubOrderInfoList"></material-sub-order-editable>
      </ng-container>
      <ng-container *ngIf="!materialOrder.modifyMode">
        <material-sub-order [materialSubOrderList]="materialOrder.materialSubOrderInfoList"></material-sub-order>
      </ng-container>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="onSubmitOrder()">提交</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Cancel')">关闭</button>
</div>
