<div class="row title-l1">
    <!--<h3>{{title}}</h3>-->
    <div class="col-sm-3">
        <h3>原料信息</h3>
    </div>

    <div class="col-sm-3">
        <a routerLink='/dashboard' class="btn btn-primary" role="button">返回</a>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>编号</th>
            <th>名称</th>
            <th>单位</th>
            <th>在库数量</th>
            <th>采购中(未到库)</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let materialStock of materialStockList">
            <th>{{materialStock.internalId}}</th>
            <td>{{materialStock.name}}</td>
            <td>{{materialStock.unit}}</td>
            <td>{{materialStock.instockNum}}</td>
            <td>{{materialStock.shoppingNum}}</td>
        </tr>
    </tbody>
</table>

<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title={{root_tree.name}}>
        <template ngbPanelContent>
            <tree-view [root_tree]="root_tree"></tree-view>
        </template>
    </ngb-panel>
</ngb-accordion>