<div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">

    <p>Hello, {{name}}!</p>
    <p>请选择原材料订单</p>
    <select class="form-control" [ngModel]="materialOrderList" (ngModelChange)="onChangematerialOrder($event)">
        <option [ngValue]="i" *ngFor="let i of materialOrderList">{{i.name}}</option>
    </select>

    <ng-container *ngIf="root_node?.id">

        <dropdown-tree-view [root_node]="root_node" (choose_leaf)="onChooseLeaf($event)"></dropdown-tree-view>

    </ng-container>
    <ng-container *ngIf="choose_leaf?.id">
        <h5>数量</h5>
        <input type="number" class="form-control user-input" [(ngModel)]="materialUpdateInfo.num">
        <h5>金额</h5>
        <input type="number" class="form-control user-input" [(ngModel)]="materialUpdateInfo.price">
        <h5>备注</h5>
        <input class="form-control user-input" [(ngModel)]="materialUpdateInfo.additionalInfo">
    </ng-container>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onSubmit()">确定</button>
    </div>