<!--<ul>
  <li>
    <a routerLink="/orders">Order Management</a>
  </li>
  <li>
    <a routerLink="/inventory">Inventory Management</a>
  </li>
</ul>-->
<div class="row">
    <div class="col-sm-5 dashboard-item">
        <a routerLink="/orders">订单管理</a>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5 dashboard-item">
        <a routerLink="/procurement">采购管理</a>
    </div>
</div>

<div class="row" style="height: 50px"></div>

<div class="row">
    <div class="col-sm-5 dashboard-item">
        <a routerLink="/productsStock">成品库存</a>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5 dashboard-item">
        <a routerLink="/materialsStock">库存管理</a>
    </div>
</div>

<ng-container *ngIf="promotion">
    <p style="margin-top: 20px">
        <ngb-alert [dismissible]="false">
            <strong>抱歉，您没有权限访问该页面，如需继续，请<a routerLink="/login" style="text-decoration: underline">重新登录</a></strong>
        </ngb-alert>
    </p>
</ng-container>

<router-outlet></router-outlet>