<!--<ul>
  <li>
    <a routerLink="/orders">Order Management</a>
  </li>
  <li>
    <a routerLink="/inventory">Inventory Management</a>
  </li>
</ul>-->

<div class="row">
  <div class="col-sm-5 dashboard-item">
    <a routerLink="/orders">订单管理</a>
  </div>
  <div class="col-sm-2"></div>
  <div class="col-sm-5 dashboard-item">
    <a routerLink="/procurement">采购管理</a>
  </div>
</div>

<div class="row" style="height: 50px"></div>

<div class="row">
  <div class="col-sm-5 dashboard-item">
    <a routerLink="/inventory">成品库存</a>
  </div>
  <div class="col-sm-2"></div>
  <div class="col-sm-5 dashboard-item">
    <a href="">原料库存</a>
  </div>
</div>
<router-outlet></router-outlet>
<router-outlet></router-outlet>
<router-outlet></router-outlet>