    <div class="row title-l2">
    <div class="col-sm-4">
      <h4>产品清单</h4>
    </div>

    <div class="col-sm-4">
      <button class="btn btn-primary" (click)="onSubmitEdit()">完成</button>
      <button class="btn btn-primary" (click)="onCancelEdit()">撤销</button>
    </div>

  </div>

  <table class="table" id="product-editable-table">
    <thead class="thead-inverse">
      <tr>
        <th scope="col"></th>
        <th scope="col">序号</th>
        <th scope="col">名称</th>
        <th scope="col">数量</th>
        <th scope="col">单位</th>
        <th scope="col">单价</th>
        <th scope="col">小计</th>
        <th scope="col">备注</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productList; let i = index">
        <th ><button type="button" class="btn btn-danger btn-sm" (click)="onDeleteProduct(product)"><i class="fa fa-minus"></i></button></th>
        <th >{{i+1}}</th>
        <td ><input class="form-control user-input" [(ngModel)]="product.name"></td>
        <td ><input class="form-control user-input" [(ngModel)]="product.count"></td>
        <td ><input class="form-control user-input" [(ngModel)]="product.unit"></td>
        <td ><input class="form-control user-input" [(ngModel)]="product.price"></td>
        <td ><input class="form-control user-input" [(ngModel)]="product.total"></td>
        <td ><input class="form-control user-input" [(ngModel)]="product.comment"></td>
      </tr>
      <tr>
        <th></th>
        <th >{{productList.length + 1}}</th>
        <td ><input class="form-control user-input" [(ngModel)]="newProduct.name"></td>
        <td ><input class="form-control user-input" [(ngModel)]="newProduct.count"></td>
        <td ><input class="form-control user-input" [(ngModel)]="newProduct.unit"></td>
        <td ><input class="form-control user-input" [(ngModel)]="newProduct.price"></td>
        <td ><input class="form-control user-input" [(ngModel)]="newProduct.total"></td>
        <td ><input class="form-control user-input" [(ngModel)]="newProduct.comment"></td>
        <td ><button type="button" class="btn btn-success btn-sm" (click)="onAddProduct()"><i class="fa fa-plus"></i></button></td>
      </tr>

    </tbody>
  </table>