<div class="row title-l2">
    <div class="col-sm-4">
        <h4>产品清单</h4>
    </div>

    <div class="col-sm-2">
        <button class="btn btn-primary" (click)="onEdit()">编辑</button>
    </div>
</div>

<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th scope="col">序号</th>
            <th scope="col">名称</th>
            <th scope="col">数量</th>
            <th scope="col">单位</th>
            <th scope="col">单价</th>
            <th scope="col">小计</th>
            <th scope="col">备注</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productList; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{product.name}}</td>
            <td>{{product.count}}</td>
            <td>{{product.unit}}</td>
            <td>{{product.price}}</td>
            <td>{{product.price * product.count}}</td>
            <td>{{product.comment}}</td>
        </tr>
    </tbody>
</table>